.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar {
    display: inline-block;
}
.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
    height: auto;
}
.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}
.file-thumbnail-footer, .file-preview-status{
	display: none;
}

.file-preview img{
    width: 100%;
}
  div.error-message{
    color:#c90425;
  }